body {
  margin: 0px;
  cursor: pointer;
}
img {
  height: 200px;
  border-radius: 50%;
}
p {
  color: rgb(111, 74, 245);
}
#navbar {
  background-color: #ededed;
}
.navlink {
  color: black;
  cursor: url(./image/arrow-cursor-outline.png), pointer;
  text-decoration: none;
  margin-left: 4px;
  text-transform: capitalize;
}
.navlink:hover {
  text-decoration: underline;
  font-weight: 600;
}

.nav {
  height: 55px;
  margin-bottom: 10px
}
p,
h1,
a {
  margin: 10px;margin-top: 45px;
  color: black;
}

#estimate {
  border: 2px solid black;
  border-radius: 20px;
  color: #fd4601;
  background-color: #ededed;
  padding: 10px 18px 10px 18px;
  text-transform: uppercase;
  font-weight: 600;
}
#estimate:hover {
  background-color: #fd4601;
  color: white;
}

/* descendant combinator */
/* .box p {
  color: red;
} */

/* child combinator */

.box > p {
  color: blue;
}
.box + P {
  color: green;
  font-size: 3opx;
}
h2 {
  color: black;
}
#text {
  text-align: justify;
  line-height: 40px;
  word-spacing: 10px;
}
.